:root {
  --primary-color: #ed6074;
  --interactive-hovered-color: #e8344f;
  --interactive-active-color: #f18192;

  --background-light-color: #f5f5f5;
  --border-light-color: #eee;
  --primary-font-color: #4b556a;
  --text-critical: #d72c0d;
  --bold-font-color: #000000;
  --light-font-color: #a0aec0;
  --whitesmoke-font-color: #f5f5f5;
  --button-light-font: #ffffff;
}
