.Wrapper {
  background-color: var(--background-light-color);
  border: 1px solid var(--primary-font-color);
  width: 100%;
  padding: 0.3rem;

  @media screen and (min-width: 769px) {
    padding: 0.5rem;
  }
}

.Title {
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--whitesmoke-font-color);
  padding: 0.5rem;
  text-align: center;
}

.PackageName {
  font-weight: 900;
}

.Selection {
  font-weight: 500;
  padding: 0.5rem;
}

.Subitle {
  font-weight: 300;
  border-top: ridge var(--primary-font-color) thin;
  text-align: center;
  padding: 0.5rem;
}

.SelectionPrices {
  font-weight: 900;
  border-top: ridge var(--primary-font-color) thin;
  padding: 0.5rem;
}
