.Wrapper {
  background-color: grey;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.1rem;
}

.InnerWrapper {
  background-color: beige;
  text-align: center;
}

.Selected {
  background-color: whitesmoke;
}
