.Plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SelectionWrapper {
  padding: 0.3rem;
  width: 100%;

  @media screen and (min-width: 769px) {
    padding: 0.5rem;
  }
}

.GbSelector {
  width: fit-content;
}

.PricesWrapper {
  font-weight: 500;
  border-top: solid var(--primary-font-color) thin;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 1rem 0.5rem;

  @media screen and (min-width: 769px) {
    padding: 0.5rem;
  }
}

.Title {
  font-weight: 500;
  padding: 0.5rem;
}

.Buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.Loading {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.PageTitle {
  margin-bottom: 1rem;
}
